[defaults]
inventory = ./app_deploy.aws_ec2.yaml
host_key_checking = False
deprecation_warnings = False
interpreter_python = auto_silent
inventory_enabled = amazon.aws.aws_ec2, ini, yaml

[inventory]
enable_plugins = amazon.aws.aws_ec2, ini, yaml
